<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <img src="http://localhost:8080/LogoSR.png" class="img-responsive"><br>
        </div>


        <div class="col-md-3">
            <span class="worldname" id='worldname'>{{world.name}}</span>
            <img src="http://localhost:8080/tatooine.png" class="image" style="width:auto; height: 120px;">
        </div>

        <div class="row">
            <div class="col-6">
                <h4 class="texthaut">Republican Credits: </h4><span class="moneystyle" [innerHTML]="world.money | bigvalue"></span>
                <button type="button" class="button btn-warning btn-lg pull-right" (click)="commutateur()">Buy {{qtmulti}}</button>
                <h4 class="texthaut">Ewoks: </h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p><button type="button" class="btn btn-primary btn-lg">Managers</button></p><br>
            <p><button type="button" class="btn btn-primary btn-lg">Cash Upgrades</button></p><br>
            <p><button type="button" class="btn btn-primary btn-lg">Angel Upgrades</button></p><br>
            <p><button type="button" class="btn btn-primary btn-lg">Unlocks</button></p><br>
            <p><button type="button" class="btn btn-primary btn-lg">Investors</button></p><br>
        </div>
        <div class="col-md-10">
            <p>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[0]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[1]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[2]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[3]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[4]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[5]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
            </p>
        </div>
    </div>
</div>


<footer>
    A <span class="starwars">STAR WARS</span> Game by Rémi Sabatier and Bastien Berruezo
</footer>