<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <img src="http://localhost:8080/LogoSR.png" class="img-responsive"><br>
        </div>


        <div class="col-md-3">
            <span class="worldname" id='worldname'>{{world.name}}</span>
            <img src="http://localhost:8080/tatooine.png" class="image" style="width:auto; height: 120px;">
        </div>

        <div class="row">
            <div class="col-6">
                <h4 class="texthaut">Republican Credits: </h4><span class="moneystyle" [innerHTML]="world.money | bigvalue"></span>
                <button type="button" class="button btn-warning btn-lg pull-right" (click)="commutateur()">Buy {{qtmulti}}</button>
                <h4 class="texthaut">Ewoks: </h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" (click)="managersModal.show()">Managers</button></p><br>
            <p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" (click)="upgradesModal.show()">Cash Upgrades</button></p><br>
            <p><button type="button" class="btn btn-primary btn-lg">Angel Upgrades</button></p><br>
            <p><button type="button" class="btn btn-primary btn-lg">Unlocks</button></p><br>
            <p><button type="button" class="btn btn-primary btn-lg">Investors</button></p><br>
        </div>
        <div class="col-md-10">
            <p>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[0]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[1]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[2]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[3]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[4]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
                <app-product (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" [prod]="world.products.product[5]" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6"></app-product>
            </p>
        </div>
    </div>

    <app-modal #managersModal>
        <div class="app-modal-header">
            <h4 class="modal-title">Managers make you feel better !</h4>
        </div>
        <div class="app-modal-body">
            <div *ngFor="let manager of world.managers.pallier">
                <div *ngIf="!manager.unlocked" class="row rounded notif border-bottom">
                    <div class="col-md-4">
                        <span class="txt row text-center font-weight-bold">{{manager.name}}</span>
                        <span class="row text-center">
                            <img class=".img-responsive" width="100%" [src]="'http://localhost:8080/'+manager.logo" style="cursor:pointer" />
                        </span>
                        <span class="row text-center">{{manager.seuil}}</span>
                    </div>
                    <div class="col-md-3">
                        <button style="height: 100px; width: 100px;" class="btn btn-info" (click)="achatManager(manager)">Hire!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer"> <button type="button" class="btn btn-default" (click)="managersModal.hide()">Close</button> </div>
    </app-modal>

    <!--<app-modal #upgradesModal>
        <div class="app-modal-header">
            <h4 class="modal-title">Buy some skills to boost your ships !</h4>
        </div>
        <div class="app-modal-body">
            <div *ngFor="let upgrade of world.upgrades.pallier">
                <div *ngIf="!upgrade.unlocked" class="row rounded notif border-bottom">
                    <div class="col-md-4">
                        <span class="txt row text-center font-weight-bold">{{upgrade.name}}</span>
                        <span class="row text-center">
                            <img class=".img-responsive" width="100%" [src]="'http://localhost:8080/'+upgrade.logo" style="cursor:pointer" />
                        </span>
                        <span class="row text-center">{{upgrade.seuil}}</span>
                    </div>
                    <div class="col-md-3">
                        <button style="height: 100px; width: 100px;" class="btn btn-info" (click)="achatUpgrade(upgrade)">Buy !</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer"> <button type="button" class="btn btn-default" (click)="upgradesModal.hide()">Close</button> </div>
    </app-modal>-->

</div>


<footer>
    A <span class="starwars">STAR WARS</span> Game by Rémi Sabatier and Bastien Berruezo
</footer>