.btn {
    font-family: 'ROG Fonts';
}

.col-md-4 img {
    max-width: 50%;
    height: auto;
}

.col-md-4 h4 {
    font-family: 'Trajan Pro';
}

footer {
    font-family: 'Trajan Pro';
}

.starwars {
    font-family: 'star jedi';
}