<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <img src="http://localhost:8080/LogoSR.png" class="img-responsive"><br>
        </div>

        <div class='col-md-2'>
            <span class="row" style="font-family: 'Trajan Pro'; font-size: large;">Pseudo : </span><br>
            <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()" /><br>
            <input type="submit" value="Enregistrer Pseudo">
        </div>


        <div class="col-md-3">
            <span class="worldname" id='worldname'>{{world.name}}</span>
            <img src="http://localhost:8080/tatooine.png" class="image" style="width:auto; height: 120px;">
        </div>


        <div class="col-md-3">
            <h4 class="texthaut">Score : </h4><span class="moneystyle" [innerHTML]="world.score | bigvalue"></span>
            <h4 class="texthaut">Republican Credits : </h4><span class="moneystyle" [innerHTML]="world.money | bigvalue"></span>
            <h4 class="texthaut">Ewoks : </h4><span class="moneystyle" [innerHTML]="world.totalangels | bigvalue"></span>
        </div>


        <div class="col-md-2">
            <button type="button" class="button btn-warning btn-lg pull-right" (click)="commutateur()">Buy {{qtmulti}}</button>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2">
            <p><button type="button" class="btn btn-primary btn-block" data-toggle="modal" (click)="managersModal.show()">Managers</button></p><br>
            <p><button type="button" class="btn btn-primary btn-block" data-toggle="modal" (click)="upgradesModal.show()">Cash Upgrades</button></p><br>
            <p><button type="button" class="btn btn-primary btn-block" data-toggle="modal" (click)="angelupgradesModal.show()">Angel Upgrades</button></p><br>
            <p><button type="button" class="btn btn-primary btn-block" data-toggle="modal" (click)="unlockModal.show()">Unlocks</button></p><br>
            <p><button type="button" class="btn btn-primary btn-block" data-toggle="modal" (click)="investorsModal.show()">Investors</button></p><br>
        </div>
        <div class="col-md-10">
            <p>
                <app-product *ngFor="let product of world.products.product" (notifyProduction)="onProductionDone($event)" (notifyBuying)="onBuyDone($event)" (notifyUnlocked)="productUnlockDone($event)" [prod]="product" [money]="world.money" [qtmulti]="qtmulti" class="product col-md-6">
                </app-product>

            </p>
        </div>
    </div>

    <app-modal #managersModal>
        <div class="app-modal-header">
            <h4 class="modal-title text-center" style="font-size:x-large;">Managers make you feel better !</h4>
        </div>
        <div class="app-modal-body" style="padding-right: 10px;">
            <div *ngFor="let manager of world.managers.pallier">
                <div *ngIf="!manager.unlocked" class="row rounded notif border-bottom">
                    <div class="col-md-5">
                        <img class="img-responsive" [src]="'http://localhost:8080/'+manager.logo" style="cursor:pointer" />
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <button class="btn btn-info pull-right" style="height: 100px; width: 100px;" (click)="achatManager(manager)" [disabled]="world.money < manager.seuil">Hire!</button>
                            <span class="txt2 row text-center font-weight-bold" style="font-size:x-large; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{manager.name}}
                                <br><span style="font-family: 'ROG Fonts'; font-size: small; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Price : {{manager.seuil}} CR</span>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer"> <button type="button" class="btn btn-default" (click)="managersModal.hide()">Close</button> </div>
    </app-modal>

    <app-modal #upgradesModal>
        <div class="app-modal-header">
            <h4 class="modal-title text-center" style="font-size:x-large;">Upgrade your ships!</h4>
        </div>
        <div class="app-modal-body" style="padding-right: 10px;">
            <div *ngFor="let upgrade of world.upgrades.pallier">
                <div *ngIf="!upgrade.unlocked" class="row rounded notif border-bottom">
                    <div class="col-md-5">
                        <img class="img-responsive" [src]="'http://localhost:8080/'+upgrade.logo" style="cursor:pointer" />
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <button class="btn btn-info pull-right" style="height: 100px; width: 100px;" (click)="achatUpgrade(upgrade)" [disabled]="world.money < upgrade.seuil">Buy!</button>
                            <span class="txt2 row text-center font-weight-bold" style="font-size:x-large; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{upgrade.name}}
                                <br><span style="font-family: 'ROG Fonts'; font-size: small; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Price : {{upgrade.seuil}} CR</span>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer"> <button type="button" class="btn btn-default" (click)="upgradesModal.hide()">Close</button> </div>
    </app-modal>

    <app-modal #angelupgradesModal>
        <div class="app-modal-header">
            <h4 class="modal-title text-center" style="font-size:x-large;">May The Ewoks be with you !</h4>
        </div>
        <div class="app-modal-body" style="padding-right: 10px;">
            <div *ngFor="let angelupgrade of world.angelupgrades.pallier">
                <div *ngIf="!angelupgrade.unlocked" class="row rounded notif border-bottom">
                    <div class="col-md-5">
                        <img class="img-responsive" [src]="'http://localhost:8080/'+angelupgrade.logo" style="cursor:pointer" />
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <button class="btn btn-info pull-right" style="height: 100px; width: 100px;" (click)="achatAngelUpgrade(angelupgrade)" [disabled]="world.money < angelupgrade.seuil">Buy!</button>
                            <span class="txt2 row text-center font-weight-bold" style="font-size:large; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                                {{angelupgrade.name}} <br><span style="font-family: 'ROG Fonts'; font-size: small; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Price : {{angelupgrade.seuil}} ewoks</span></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer"> <button type="button" class="btn btn-default" (click)="angelupgradesModal.hide()">Close</button> </div>
    </app-modal>

    <app-modal #unlockModal>
        <div class="app-modal-header">
            <h4 class="modal-title text-center" style="font-size:x-large;">Some help to improve your space business!</h4>
        </div>
        <div class="app-modal-body">
            <div *ngFor="let unlock of world.allunlocks.pallier">
                <div *ngIf="!unlock.unlocked" class="row rounded notif border-bottom">
                    <div class="col-md-5">
                        <img class="img-responsive" [src]="'http://localhost:8080/'+unlock.logo" style="cursor:pointer" />
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <span class="txt2 row text-center font-weight-bold" style="font-size:large; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                                {{unlock.name}} <br>
                                <span style="font-family: 'ROG Fonts'; font-size: small; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                                    To unlock : {{unlock.seuil}} unities</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let product of world.products.product">
                <div *ngFor="let unlock of product.palliers.pallier">
                    <div *ngIf="!unlock.unlocked" class="row rounded notif border-bottom">
                        <div class="col-md-5">
                            <img class="img-responsive" [src]="'http://localhost:8080/'+unlock.logo" style="cursor:pointer" />
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <span class="txt2 row text-center font-weight-bold" style="font-size:large; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                                    {{unlock.name}} <br>
                                    <span style="font-family: 'ROG Fonts'; font-size: small; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                                    To unlock : {{unlock.seuil}} unities</span>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





        </div>
        <div class="app-modal-footer"> <button type="button" class="btn btn-default" (click)="unlockModal.hide()">Close</button> </div>
    </app-modal>

    <app-modal #investorsModal>
        <div class="app-modal-header">
            <h4 class="modal-title text-center" style="font-size:x-large;">The Ewoks can help you!</h4>
        </div>
        <div class="app-modal-body">
            <div class="row border rounded text-center">
                <span class="col-md-12">Your Total Ewoks</span>
                <span style="font-size: 30px;" class="col-md-12">{{world.totalangels}}</span>
            </div>
            <div class="row">
                <div style="height: 200px; padding-top: 40px; padding-left: 30px;" class="col-md-6 bg-dark">
                    <div class="row">
                        <span style="font-size: 35px;" class="col-md-12 text-center">{{world.angelbonus}}%</span>
                        <span style="margin-left: 20px;" class="text-center">Profit Bonus Per Ewok</span>
                    </div>
                </div>
                <div style="height: 200px; padding-top: 4px; padding-left: 15px;" class="col-md-6 bg-dark">
                    <div class="row text-center">
                        <span style="font-size: 35px;" class="col-md-12 text-center">{{world.activeangels}}</span>
                        <span style="margin-left: 20px;">Ewoks Claimed with Restart</span>
                        <button class="col-md-9 text-center btn-block btn-default">Claim</button>
                        <!--<span class="col-md-12 text-center">Restart Your business</span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer">
            <button type="button" class="btn btn-default" (click)="investorsModal.hide()">Close</button>
        </div>
    </app-modal>

</div>


<footer>
    A <span class="starwars">STAR WARS</span> Game by Rémi Sabatier and Bastien Berruezo
</footer>