<div class="container-fluid">
    <div class="row">

        <div class="col-md-4">
            <h5 style="font-family: 'Trojan Pro';">{{product.name}}</h5>
            <img class="image-repsonsive" width="100%" [src]="'http://localhost:8080/'+product.logo" style="cursor:pointer" (click)="startFabrication()" />
        </div>

        <div class="col-4 col-sm-6">
            <div class="progress" id="bar" style="width: auto; height: 16px; margin-top: 15px;">
                <!--<div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
            </div>
        </div>
        <div class="col-4 col-sm-6">
            <div class="row">
                <button id=buyBtn{{product.id}} class="col-md-5 btn btn-warning">Buy x1</button>
                <div class="col-md-7">00:00:00</div><br>
            </div>
        </div>
    </div>