<head>
    <link rel="stylesheet" href="product.component.css">
</head>

<body>
    <div class="row">
        <div class="col-sm-4">
            <img src='http://localhost:8080/speeder.jpg' name="Speeder" (click)="production();">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" astyle="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src='http://localhost:8080/podracer.png' name="Podracer" (click)="production();">
        </div>
    </div>
    <div class="row">
        <div class="produit_3">
            <img src='http://localhost:8080/x-wing.jpg' name="X-Wing" (click)="production();">
        </div><br>
    </div>
</body>