<div class="d-block">
    <div class="row">

        <div class="col-md-4">
            <h5 class="productname">{{product.name}}</h5>
            <img class=".img-responsive" width="100%" [src]="'http://localhost:8080/'+product.logo" style="cursor:pointer; max-width:250px;" (click)="startFabrication()" />
            <div class="row">
                <div class="col-md-9 text-center textproduct">{{product.quantite}}</div>
            </div>
        </div>

        <div class="col-4 col-sm-6">
            <div class="progress" id="bar" style="width: auto; height: 20px; margin-top: 15px;" #bar>
            </div>
        </div>
        <div class="col-4 col-sm-6">
            <div class="row">
                <button type=button class="button col-md-5 btn btn-warning btn-md" (click)="onBuy()" *ngIf="_qtmulti != 'Max'" [disabled]="_money < calcCost(quantiteAchetable())">Buy {{_qtmulti}}</button>
                <button type=button class="button col-md-5 btn btn-warning btn-md" (click)="onBuy()" *ngIf="_qtmulti == 'Max'" [disabled]="calcMaxCanBuy() == 0">Buy X{{calcMaxCanBuy()}}</button>
                <div class="col-md-7 text-center textproduct"><span [innerHTML]="product.timeleft | timer"></span></div><br>
            </div>
        </div>
    </div>