body {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    color: rgb(255, 228, 54);
    background-image: url('http://localhost:8080/space.png');
}


/** {
    border: 1px solid black;
}*/